.custom-btn {
    min-width: 250px;
    height: 70px;
    font-size: x-large;
    background-color: #fbfbf9;
    border-color: azure;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px
  }
  
  .custom-btn:hover {
    background-color: #d3c5f3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


